#{extends 'core/layout.html' /}

<div id="coreBlank" class="${type.name} ">
	<div class="listSort">
	&{'core.blank.title', type.modelName}
	</div>
	<div class="objectForm">
	
	#{form action:@createTask(change._key()), enctype:'multipart/form-data'}
	<div class="ui-widget">
		#{sparta.form}
		#{sparta.field name:'name'/}
		#{sparta.field name:'project'/}		
		#{sparta.field name:'description'/}	
		#{sparta.field name:'requestedEndDate'/}		
		#{sparta.field name:'actionTaken'/}
		#{sparta.field name:'remarks'/}
		#{sparta.field name:'assignee'/}
		#{sparta.field name:'planStartDate'/}	
		#{sparta.field name:'planEndDate'/}	
		#{sparta.field name:'actualStartDate'/}
		#{sparta.field name:'actualEndDate'/}
		#{sparta.field name:'effortDriven'/}
		#{sparta.field name:'duration'/}
		#{sparta.field name:'percentcomplete'/}
		#{sparta.field name:'priority'/}
		#{sparta.lookupField name:'workflowstatus', realm:'sparta.tasks.workflowstatus'/}
		#{/sparta.form}
		</div>
		<p class="coreButtons button">
			<input type="submit" name="_save" value="&{'core.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'core.saveAndContinue', type.modelName}" />
			<input type="submit" name="_saveAndAddAnother" value="&{'core.saveAndAddAnother', type.modelName}" />
		</p>
	#{/form}
	</div>

</div>