#{set title:(object? object['displayName'] : null)/}
#{extends 'core/layout.html' /}

<div id="coreShow" class="${type.name}">
	<div class="listSort span-18">
	&{'sparta.part.edit.title', object.displayName}
	</div>
    <div class="ui-corner-all">
    <div class="listButtons">
    #{sparta.toolbar}
	#{sparta.show id:object._key(), name:type.modelName /}
	#{sparta.add name:type.modelName /}	
	#{sparta.delete id:object._key(), name:type.modelName /}
    #{/sparta.toolbar}
    </div>    
    <div id="edit-tabs">
	<ul>
		<li><a href="#basic-info">&{'sparta.show.basicinfo'}</a></li>
				
	</ul>
	<div id="basic-info"class="objectForm">
	
	#{form action:@save(object._key()), enctype:'multipart/form-data'}
	    <div >
		#{sparta.form }
		<table>
		<tbody>
		<tr><td>
		#{sparta.field name:'name'/}
		</td><td>
		#{sparta.field name:'urgency'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'originator'/}
		</td><td>
		#{sparta.field name:'analyst'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'description'/}
		</td><td>
		#{sparta.field name:'solution'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'evaluator'/}
		</td><td>
		#{sparta.field name:'manager'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'verifier'/}
		</td><td>
		#{sparta.lookupField name:'problemStatus', realm:'sparta.change.problemstatus'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'reason'/}
		</td><td>
		#{sparta.field name:'acceptConditions'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'customer'/}
		</td><td>	
		#{sparta.field name:'project'/}	
		</td></tr>
		
		</tbody>
		</table>
		#{/sparta.form}
		</div>
		<p class="coreButtons button">
			<input type="submit" name="_save" value="&{'core.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'core.saveAndContinue', type.modelName}" />
		</p>
	#{/form}
	</div>
   </div>
   </div>
</div>
<!--  change the buttons to a class -->
<script>
$(function() {
	$( "#edit-tabs" ).tabs();
});
</script>

		
