#{extends 'core/layout.html' /}

<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/token-input.css'}" />
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/token-input-sparta.css'}" />
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/slick.grid.css'}" />
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/grid.css'}" />
<script src="@{'/public/javascripts/jquery.tokeninput.js'}"></script>
<script src="@{'/public/javascripts/ejohn-templating.js'}"></script>


<script src="@{'/public/javascripts/jquery.event.drag-2.0.min.js'}"></script>
<script src="@{'/public/javascripts/slickgrid/slick.editors.js'}"></script>
<script src="@{'/public/javascripts/slickgrid/slick.grid.js'}"></script>
<script src="@{'/public/javascripts/slickgrid/slick.model.js'}"></script>
<script>
		function requiredFieldValidator(value) {
			if (value == null || value == undefined || !value.length)
				return {valid:false, msg:"This is a required field"};
			else
				return {valid:true, msg:null};
		}


		var TaskNameFormatter = function(row, cell, value, columnDef, dataContext) {
		    var spacer = "<span style='display:inline-block;height:1px;width:" + (15 * dataContext["indent"]) + "px'></span>";
		    var idx = dataView.getIdxById(dataContext.id);
			if (data[idx+1] && data[idx+1].indent > data[idx].indent) {
				if (dataContext._collapsed)
					return spacer + " <span class='toggle expand'></span>&nbsp;" + value;
				else
					return spacer + " <span class='toggle collapse'></span>&nbsp;" + value;
			}
			else
				return spacer + " <span class='toggle'></span>&nbsp;" + value;
		};

		var dataView;
		var grid;

		var data = [];

		var columns = [
			{id:"title", name:"Title", field:"title", width:220, cssClass:"cell-title", formatter:TaskNameFormatter, editor:TextCellEditor, validator:requiredFieldValidator},
			{id:"duration", name:"Duration", field:"duration", editor:TextCellEditor},
			{id:"%", name:"% Complete", field:"percentComplete", width:80, resizable:false, formatter:GraphicalPercentCompleteCellFormatter, editor:PercentCompleteCellEditor},
			{id:"start", name:"Start", field:"start", minWidth:60, editor:DateCellEditor},
			{id:"finish", name:"Finish", field:"finish", minWidth:60, editor:DateCellEditor},
			{id:"effort-driven", name:"Effort Driven", width:80, minWidth:20, maxWidth:80, cssClass:"cell-effort-driven", field:"effortDriven", formatter:BoolCellFormatter, editor:YesNoCheckboxCellEditor, cannotTriggerInsert:true}
		];

		var options = {
			editable: false,
			enableAddRow: true,
			enableCellNavigation: true,
			asyncEditorLoading: false
		};


		var percentCompleteThreshold = 0;
		var searchString = "";

		function myFilter(item) {
			if (item["percentComplete"] < percentCompleteThreshold)
				return false;

			if (searchString != "" && item["title"].indexOf(searchString) == -1)
				return false;

			var idx = dataView.getIdxById(item.id);

			if (item.parent != null) {
				var parent = data[item.parent];

				while (parent) {
					if (parent._collapsed || (parent["percentComplete"] < percentCompleteThreshold) || (searchString != "" && parent["title"].indexOf(searchString) == -1) )
						return false;

					parent = data[parent.parent];
				}
			}

			return true;
		}

		function percentCompleteSort(a,b) {
			return a["percentComplete"] - b["percentComplete"];
		}

		function addItem(newItem,columnDef) {
			var item = {"id": "new_" + (Math.round(Math.random()*10000)), "indent":0, "title":"New task", "duration":"1 day", "percentComplete":0, "start":"01/01/2009", "finish":"01/01/2009", "effortDriven":false};
			$.extend(item,newItem);
			dataView.addItem(item);
		}


		$(function()
		{
			var indent = 0;
			var parents = [];

			// prepare the data
			for (var i=0; i<1000; i++) {
				var d = (data[i] = {});
				var parent = null;

				if (Math.random() > 0.8) {
					indent++;
					parent = i - 1;
					parents.push(parent);
				}
				else if (Math.random() < 0.3 && indent > 0) {
					indent--;
					parent = parents.pop();
				}
				else if (parents.length > 0)
					parent = parents[parents.length-1];

				if (indent == 0)
					parent = null;

				d["id"] = "id_" + i;
				d["indent"] = indent;
				d["parent"] = parent;
				d["title"] = "Task " + i;
				d["duration"] = "5 days";
				d["percentComplete"] = Math.round(Math.random() * 100);
				d["start"] = "01/01/2009";
				d["finish"] = "01/05/2009";
				d["effortDriven"] = (i % 5 == 0);
			}


			// initialize the model
			dataView = new Slick.Data.DataView();
			dataView.beginUpdate();
			dataView.setItems(data);
			dataView.setFilter(myFilter);
			dataView.endUpdate();


			// initialize the grid
			grid = new Slick.Grid($("#myGrid"), dataView.rows, columns, options);

            grid.onCellChange = function(row,col,item) {
                dataView.updateItem(item.id,item);
            };
            
			grid.onAddNewRow = addItem;

			grid.onClick = function(e, row, cell) {
                if ($(e.target).hasClass("toggle")) {

                    var item = dataView.rows[row];
                    if (item) {
                        if (!item._collapsed)
                            item._collapsed = true;
                        else
                            item._collapsed = false;

                        dataView.updateItem(item.id, item);
                    }

                    return true;
                }

                return false;
            };


			// wire up model events to drive the grid
			dataView.onRowCountChanged.subscribe(function(args) {
				grid.updateRowCount();
                grid.render();
			});

			dataView.onRowsChanged.subscribe(function(rows) {
				grid.removeRows(rows);
				grid.render();
			});


			var h_runfilters = null;

			// wire up the slider to apply the filter to the model
			$("#pcSlider").slider({
				"range":	"min",
				"slide":	function(event,ui) {
                    Slick.GlobalEditorLock.cancelCurrentEdit();

					if (percentCompleteThreshold != ui.value)
					{
						window.clearTimeout(h_runfilters);
						h_runfilters = window.setTimeout(dataView.refresh, 10);
						percentCompleteThreshold = ui.value;
					}
				}
			});


			// wire up the search textbox to apply the filter to the model
			$("#txtSearch").keyup(function(e) {
                Slick.GlobalEditorLock.cancelCurrentEdit();

				// clear on Esc
				if (e.which == 27)
					this.value = "";

				searchString = this.value;
				dataView.refresh();
			})
		})

		</script>	
	
<div id="coreShow " class="${type.name}">
    <div class="listSort">
	   &nbsp&nbsp &{'part.show.title', type.modelName} : ${object.identifier.number}-${object.identifier.tab}-${object.revision}-${object.iteration}
	</div>
	<div class="listButtons">
	   #{sparta.toolbar}
	       #{sparta.delete id:object._key(), name:type.modelName /}
	       #{sparta.tabitem id:object._key(), name:type.modelName /}
	       #{sparta.clone id:object._key(), name:type.modelName /}
	       #{sparta.revise id:object._key(), name:type.modelName /}
	       #{sparta.freeze id:object._key(), name:type.modelName /}
	       #{sparta.edit id:object._key(), name:type.modelName /}
	   #{/sparta.toolbar}
	</div>
	<div id="edit-tabs">
	    <ul>
		  <li><a href="#basic-info">Information</a></li>
		  <li><a href="#edit-relations">Edit Relations</a></li>	
		  <li><a href="#bom">Bom</a></li>
		  <li><a href="@{versions(object._key())}">Versions</a></li>		
	    </ul>
	  <div id="basic-info" class="ui-widget">
	  
	    <table><tbody>
    	    <tr>
	           #{core.element name:"name", value:(object? object['name'] : null) /}
	           #{core.element name:"number", value:(object.identifier? object.identifier['number'] : null) /}
	        </tr><tr>
	           #{core.element name:"tab", value:(object.identifier? object.identifier['tab'] : null) /}
	           #{core.element name:"servicePart", value:(object.identifier? object.identifier['servicePart'] : null) /}
	        </tr><tr>
	           #{core.element name:"revision", value:(object? object['revision'] : null) /}
	           #{core.element name:"iteration", value:(object? object['iteration'] : null) /}
           	</tr><tr>
	           #{core.element name:"description", value:(object? object['description'] : null) /}
	           #{core.element name:"project", value:(object.project? object.project['name'] : null) /}
	        </tr><tr>
	           #{sparta.lookupValueField name:"finish", realm:"sparta.product.finish", value:(object? object['finish'] : null) /}
	           #{sparta.lookupValueField name:"material", realm:"sparta.product.material", value:(object? object['material'] : null) /}
	        </tr><tr>
	           #{core.element name:"makeOrBuy", value:(object? object['makeOrBuy'] : null) /}
	           #{core.element name:"releaseState", value:(object? object['releaseState'] : null) /}
	        </tr><tr>	           
	           #{core.element name:"cloned", value:(object? object['cloned'] : null) /}
	           #{core.element name:"frozen", value:(object? object['frozen'] : null) /}
	        </tr><tr>	   	     
	           #{core.element name:"clonedBy", value:(object? object['clonedBy'] : null) /}
	           #{core.element name:"revisedBy", value:(object.revisedBy? object.revisedBy : null) /}
	        </tr><tr>
	           #{core.element name:"updatedBy", value:(object? object['updatedBy'] : null) /}
	           #{core.element name:"createdBy", value:(object? object['createdBy'] : null) /}
	        </tr><tr>
	           #{core.element name:"dateCreated", value:(object? object['dateCreated'] : null) /}
	           #{core.element name:"lastUpdated", value:(object? object['lastUpdated'] : null) /}
	        </tr><tr>
	    </tbody></table>
	   
          #{sparta.tabs}
             #{sparta.tab link:"/parts/ecos?id="+object._key(), value:"sparta.ecos"/}
		     #{sparta.tab link:"/parts/ecrs?id="+object._key(), value:"sparta.ecrs"/}
		     #{sparta.tab link:"/parts/usedon?id="+object._key(), value:"sparta.usedon"/}					
		     #{sparta.tab link:"/parts/uses?id="+object._key(), value:"sparta.partlist"/}
		     #{sparta.tab link:"/users/parts/documents?id="+object._key(), value:"sparta.documents"/}
		     #{sparta.tab link:"/parts/customers?id="+object._key(), value:"sparta.customers"/}
		     #{sparta.tab link:"/parts/plants?id="+object._key(), value:"sparta.plants"/}
		     #{sparta.tab link:"/parts/suppliers?id="+object._key(), value:"sparta.suppliers"/}
		     #{sparta.tab link:"/parts/files?id="+object._key(), value:"sparta.files"/}											
          #{/sparta.tabs}
          </div>
          
         <div id="edit-relations">
	        #{sparta.editrelation object:object, label:"Parts", name:"used", geturl:"/users/parts/listparts"}
		    '@{addparts(object._key())}'
		    #{/sparta.editrelation}
         
		    #{sparta.editrelation object:object, label:"ECOs", name:"partecos", geturl:"/users/parts/listparts"}
		    '@{addparts(object._key())}'
		    #{/sparta.editrelation}
		
		    #{sparta.editrelation object:object, label:"ECNs", name:"partecns", geturl:"/users/parts/listparts"}
		    '@{addparts(object._key())}'
		    #{/sparta.editrelation}
		
		    #{sparta.editrelation object:object, label:"Documents", name:"partdocs", geturl:"/users/documents/listdocs"}
		    '@{adddocuments(object._key())}'
		    #{/sparta.editrelation}
		 
		    #{sparta.editrelation object:object, label:"Customer", name:"partcustomers", geturl:"/users/customers/listcustomers"}
		    '@{addcustomers(object._key())}'
		    #{/sparta.editrelation}   
        
            #{sparta.editrelation object:object, label:"Plants", name:"partplants", geturl:"/users/plants/listplants" }
		    '@{addplants(object._key())}'
		    #{/sparta.editrelation}
		
            #{sparta.editrelation object:object, label:"Suppliers", name:"partsuppliers", geturl:"/users/suppliers/listsuppliers" }
		    '@{addsuppliers(object._key())}'
		    #{/sparta.editrelation}
			
			#{if object.project}
		    #{sparta.fileupload space:object.project.wipSpace, posturl:'/dashboard/dump', uploadurl:'/dashboard/upload'/}
		    #{/if}
		    #{else}
		    Update the project to upload files.
		    #{/else}		    	
	    </div >
	   
	    <div id="bom" >
	  <div id="myGrid" class="reset" style="width:670px;height:400px;"></div>
	    </div>

    </div>
    
</div>