/** Core area **/

#core {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', 'Arial', 'Sans';
	font-size: 105%;
	color: #111;
}

/** Header **/

#core #coreHeader {
	background: #111111;
	padding: 10px 20px;
}

#core #coreHeader h1 {
	margin: 0;
	font-weight: normal;
}

#core #coreHeader h1 a {
	color: gold;
	text-decoration: none;
}

/** Breadcrumb **/

#coreBreadcrumb {
	padding: 5px 20px;
	font-size: 80%;
}

#coreBreadcrumb ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#coreBreadcrumb li {
	display: inline;
}

#coreBreadcrumb a {
	color: #333;
}

#coreBreadcrumb li:last-child a {
	color: #888;
	text-decoration: none;
}

/** Flash message **/

.coreFlash {
	padding: 5px 20px;
	border-bottom: 1px solid #ddd;
	color: #fff;
}

.flashError {
	background: #c00;
}

.flashSuccess {
	background: #54BD06;
}

/** Content **/

#core #coreContent {
	padding: 10px 20px;
}

#core #coreContent h2 {
	color: #333;
	font-weight: normal;
	margin-top: 10px;
}

#core #coreContent a {
	color: #444;
}

/** Tables **/

#core #coreContent table {
	width: 100%;
	border: 1px solid #ddd;
	border-top: none;
	border-collapse: collapse;
}

#core #coreContent table thead tr {
	background: #0A65AF;
	
}

#core #coreContent table tr {
	height:30px;
}

#core #coreContent table th {
	color: #fff;
	font-weight: bold;
}

#core #coreContent table th a {
	color: #fff;
	font-weight: bold;
}

#core #coreContent table th {
	text-align: left;
	padding: 6px 5px;
	
}

#coreListTable table  {
 font-size:11px;
}

#coreListTable table td {
 height:22px;
 border-bottom: 1px silver dotted;
}

#coreListTable .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
color:#555555;
text-decoration:none;
}
#coreListTable .ui-state-hover{

   border: none;
}
#core #coreContent table td {
	text-align: left;
	padding: 4px 5px;
}

#core #coreContent table td {
	border-bottom: 1px solid #eee;
}

#core #coreContent table tr.even {
	background: silver;
}

#core #coreContent table tr:last-child td {
	border-bottom: 1px solid #ddd;
}

.coreSortedAsc:after {
	content: '▼';
}

.coreSortedDesc:after {
	content: '▲';
}

/** Forms **/

form {
	margin: 0;
}

input, textarea, select {
	font-family: 'Helvetica', 'Arial', 'Sans';
	font-size: 12px;
}

textarea {
	padding: 2px;
}

.objectForm {
	border: 1px solid #ddd;
}

label {
	display: block;
	font-weight: bold;
	width: 40%;
	float: left;
	color: #666;
	cursor: pointer;
	padding-bottom: 3px;
}

.coreField {
	padding: 10px;
	border-bottom: 1px solid #eee;
	position: relative;
	line-height: 0.7em;
}

.core_hidden {
    display: none;
}

.coreButtons {
	background: #efefef;
	text-align: right;
	margin: 0;
	padding: 10px;
}

.coreField .error {
	color: #c00;
	padding-left: 10px;
	position: absolute;
	top: 15px;
	font-size: 80%;
}

.coreField .hasError {
	color: #c00;
}

.coreField select[multiple] {
	max-height: 100px;
}

.coreField .coreHelp {
	font-size: 70%;
	color: #888;
	display: block;
	margin-left: 40%;
	margin-top: 5px;
}

form .currentAttachment {
	display: block;
	font-size: 80%;
	margin-left: 20%;
	padding-top: 4px;
}

form .removeAttachment {
    display: block;
    font-size: 80%;
    margin-left: 20%;
}

/** Footer **/

#core #coreFooter {
	font-size: 80%;
	color: #aaa;
	padding: 10px 20px;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	margin-top: 20px;
}

#core #coreFooter a {
	color: #333;
}

/** Home **/

.coreNew {
	text-align: right !important;
}

.coreNew a {
	background: #54BD06;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff !important;
	text-decoration: none;
}

.coreNew a:hover {
	opacity: .8;
}

/** List **/

#coreList {
	position: relative;
}

#coreListAdd {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: #54BD06;
	padding: 3px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff !important;
	text-decoration: none;
}

#coreListAdd a:hover {
	opacity: .8;
}

#coreListSearch {
	padding: 4px 5px;
	border: 1px solid #ddd;
	background: #efefef;
}

#coreListSearch input[type=text] {
	width: 40%;
}

#coreListSearch a {
	color: #111 !important;
	font-size: 90%;
}

/** Show **/

#coreShow {
	position: relative;
}

.coreDelete input {
	color: #fff;
	border: none;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: #c00;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	cursor: pointer;
}

.coreDelete input:hover {
	opacity: .7;
}


.listButtons{
	clear:both;
    overflow:auto;
    padding:5px 0;
}
.listButtonsBottom{
    clear:both;
    overflow:hidden;
    padding:5px 0;
}


.listSort{
    background:#F8F8F8 none repeat scroll 0 0;
    border-color:#DEDEDE;
    border-style:solid;
    border-width:1px 0;
    clear:both;
    padding:5px 10px;
    height: 20px;
}

.listItems {
    clear:both;
}

.listItem{
	background:#FFFFFF;
    margin:0;
    padding:10px;
    border-bottom:1px dotted #CCCCCC;
}

.list-item-content {
margin-left:75px;
}

.list-display-name{
}

img.preview {
border:1px solid #E6E6E6;
display:block;
padding:1px;
float:left;
}
.listItem .chk {
   float:left;
   height:13px;
   margin:0 8px 0 0;
   padding:0;
   width:13px;
}

.listItem .list-item-actions{
   margin-top:5px;
}

.list-item-actions a {
color:#666666;
}
.list-item-actions li {
display: inline;
margin-left:5px;
padding-left:10px;
}

.list-item-org{
   float:right;
   padding-left:5px;
}

.pagination {
	background:#EEEEEE url(../images/grid-header.png) repeat-x scroll 50% 50%;
    border:1px solid #D6D6D6;
    border-width: 0 1px 1px 1px;
    overflow:hidden;
    padding:5px 10px 5px 25px;
    color:#999999;
}
.pagination .first-last {
float:left;
margin-right:25px;
}
.pagination .previous-next {
  float:right;
  margin-right:25px;
}
.previous-next span {
color:#999999;
}

.pagination-next {
border-left:1px solid #CCCCCC;
margin-left:10px;
padding-left:10px;
}

.pagination-last {
    border-left:1px solid #CCCCCC;
    margin-left:10px;
    padding-left:10px;
}

.mRelField{
    padding: 10px;
	position: relative;
}

.mRelField .mRelButton{
	color: #888;
	display: block;
	margin-left: 20%;
	margin-top: 5px;
}