<div id="relation">
		
		<div class="listSort">		
		</div>
		#{if objects.size() >0}
	<div id="coreListTable">
		#{core.table fields:['username','dateCreated', 'lastUpdated']}
            #{core.custom 'username'}
               <a href="@{Users.show(object.id)}">
               ${object.username.length() > 50 ? object.name[0..50] + '…' : object.username}
               </a>
            #{/core.custom}
        #{/core.table}
	</div>       
    #{/if}
    #{else}
    Nothing found
    #{/else}	
</div>