<div id="relation">
		#{if objects.size() >0}
		<h2 id="coreListTitle">&{'core.list.title', 'Parts'}</h2>
	<div id="coreListTable">
		#{core.table fields:['name', 'project']}
            #{core.custom 'name'}
               <a href="@{Parts.show(object.id)}">
               ${object.name.length() > 50 ? object.name[0..50] + '…' : object.name}
               </a>
            #{/core.custom}
        #{/core.table}
	</div>

        
    #{/if}
    
    #{ifnot objects}
    No objects found
    #{/ifnot}	
		
</div>