#{set title:type.name /}
#{extends 'core/layout.html' /}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/apprise.min.css'}" />
<script src="@{'/public/javascripts/apprise.min.js'}"></script>
<script>

</script>
<div>
    <div class="listSort">
	&{'core.list.title', type.name}
	</div>
	<div class="listButtons">
	#{sparta.toolbar}
	#{sparta.add name:type.modelName /}
	<div  id="activate-btn" style="display:inline; float:left;">
    <a    href="@{bulkactivate}">&{'Activate', type.modelName}</a>
    </div>
    <div  id="deactivate-btn" style="display:inline; float:left;">
    <a    href="@{bulkdeactivate}">&{'Deactivate', type.modelName}</a>
    </div>
    #{/sparta.toolbar}
    
    <div class="listSort"> <div id="search-form" style="float:right;">#{core.search /}</div></div>
    <div id="coreListTable">
		#{core.table fields:['displayName','username','firstName','lastName','active','email'] /}
		#{sparta.pagination/}
	</div>
	
	#{if objects.size > 10}
	<div class="listButtonsBottom">
	#{sparta.toolbar}
	#{sparta.add name:type.modelName /}
    #{/sparta.toolbar}
    </div>
    #{/if}
	<div>
	</div>
     </div>
</div>