
 <div class="row">
  <div class="label">Name</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.name" value="${entity?.name}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.name')}</span>
</div>


 <div class="row">
  <div class="label">Unit Value</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.unitValue" value="${entity?.unitValue}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.unitValue')}</span>
</div>


 <div class="row">
  <div class="label">Material</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.material" value="${entity?.material}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.material')}</span>
</div>


 <div class="row">
  <div class="label">Finish</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.finish" value="${entity?.finish}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.finish')}</span>
</div>


 <div class="row">
  <div class="label">Release State</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.releaseState" value="${entity?.releaseState}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.releaseState')}</span>
</div>


 <div class="row">
  <div class="label">Location</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.location" value="${entity?.location}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.location')}</span>
</div>


 <div class="row">
  <div class="label">Workflowstate</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.workflowstate" value="${entity?.workflowstate}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.workflowstate')}</span>
</div>


 <div class="row">
  <div class="label">Project</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.project.id">
              
                      <option value="">(None)</option>              
              
        %{ models.Project.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.project?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.project')}</span>
</div>


 <div class="row">
  <div class="label">Organization</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.organization.id">
              
                      <option value="">(None)</option>              
              
        %{ models.Organization.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.organization?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.organization')}</span>
</div>


 <div class="row">
  <div class="label">Description</div>
  <div class="field">
    
    
    
    
    
    
      <textarea name="entity.description" rows="10" cols="40">${entity?.description}</textarea>
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.description')}</span>
</div>


 <div class="row">
  <div class="label">Frozen</div>
  <div class="field">
    
      <input type="checkbox" name="entity.frozen"
        ${entity?.frozen ? 'checked':''}
      />
    
    
    
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.frozen')}</span>
</div>


 <div class="row">
  <div class="label">Make Or Buy</div>
  <div class="field">
    
      <input type="checkbox" name="entity.makeOrBuy"
        ${entity?.makeOrBuy ? 'checked':''}
      />
    
    
    
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.makeOrBuy')}</span>
</div>


 <div class="row">
  <div class="label">Identifier</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.identifier.id">
              
                      <option value="">(None)</option>              
              
        %{ models.Part.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.identifier?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.identifier')}</span>
</div>


 <div class="row">
  <div class="label">Documents</div>
  <div class="field">
    
    
    
    
      
        <select name="entity.documents.id" multiple>
        %{ models.DocumentVersion.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            entity?.documents.each() { f ->
              if (f.id == it?.id)
                selected = true;
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.documents')}</span>
</div>


 <div class="row">
  <div class="label">Iteration</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.iteration" value="${entity?.iteration}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.iteration')}</span>
</div>


 <div class="row">
  <div class="label">Revision</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.revision" value="${entity?.revision}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.revision')}</span>
</div>


 <div class="row">
  <div class="label">Clone</div>
  <div class="field">
    
      <input type="checkbox" name="entity.clone"
        ${entity?.clone ? 'checked':''}
      />
    
    
    
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.clone')}</span>
</div>


 <div class="row">
  <div class="label">Revised By</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.revisedBy.id">
              
                      <option value="">(None)</option>              
              
        %{ models.User.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.revisedBy?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.revisedBy')}</span>
</div>


 <div class="row">
  <div class="label">Cloned By</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.clonedBy.id">
              
                      <option value="">(None)</option>              
              
        %{ models.User.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.clonedBy?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.clonedBy')}</span>
</div>


 <div class="row">
  <div class="label">Created By</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.createdBy.id">
              
                      <option value="">(None)</option>              
              
        %{ models.User.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.createdBy?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.createdBy')}</span>
</div>


 <div class="row">
  <div class="label">Updated By</div>
  <div class="field">
    
    
    
    
      
      
        <select name="entity.updatedBy.id">
              
                      <option value="">(None)</option>              
              
        %{ models.User.all().fetch().sort{ it.toString() }.each() { }%
          
          %{
            selected = false;
            if (entity?.updatedBy?.id == it.id) {
              selected = true
            }
          }%
          <option value="${it?.id}" ${selected ? 'selected'.raw() : ''}>${it}</option>
        %{ } }%
        </select>
      
    
    
    
    
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.updatedBy')}</span>
</div>


 <div class="row">
  <div class="label"></div>
  <div class="field">
    
    
    
    
    
    
    
    
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>


