#{extends 'main.html' /}

<h2>View PartVersion</h2>

<div class="entity">

  
	<div class="row">
		<span class="elem">
			name:
		</span>
		<span class="value">
      ${entity.name}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			unitValue:
		</span>
		<span class="value">
      ${entity.unitValue}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			material:
		</span>
		<span class="value">
      ${entity.material}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			finish:
		</span>
		<span class="value">
      ${entity.finish}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			releaseState:
		</span>
		<span class="value">
      ${entity.releaseState}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			location:
		</span>
		<span class="value">
      ${entity.location}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			workflowstate:
		</span>
		<span class="value">
      ${entity.workflowstate}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			project:
		</span>
		<span class="value">
      ${entity.project}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			organization:
		</span>
		<span class="value">
      ${entity.organization}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			description:
		</span>
		<span class="value">
      ${entity.description}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			frozen:
		</span>
		<span class="value">
      ${entity.frozen}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			makeOrBuy:
		</span>
		<span class="value">
      ${entity.makeOrBuy}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			identifier:
		</span>
		<span class="value">
      ${entity.identifier}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			documents:
		</span>
		<span class="value">
      ${entity.documents}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			iteration:
		</span>
		<span class="value">
      ${entity.iteration}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			revision:
		</span>
		<span class="value">
      ${entity.revision}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			clone:
		</span>
		<span class="value">
      ${entity.clone}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			revisedBy:
		</span>
		<span class="value">
      ${entity.revisedBy}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			clonedBy:
		</span>
		<span class="value">
      ${entity.clonedBy}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			createdBy:
		</span>
		<span class="value">
      ${entity.createdBy}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			updatedBy:
		</span>
		<span class="value">
      ${entity.updatedBy}
		</span>
	</div>
  

  
	<div class="row">
		<span class="elem">
			id:
		</span>
		<span class="value">
      ${entity.id}
		</span>
	</div>
  

</div>

<a href="@{PartVersions.index}">Back</a>

