#{set title:(object? object['displayName'] : null)/}
#{extends 'core/layout.html' /}

<div id="coreShow " class="${type.name}">
    <div class="listSort">
	   &nbsp&nbsp &{'design.document.show.title', type.modelName} : ${object.displayName}
	</div>
	<div class="listButtons">
	   #{sparta.toolbar}
	       #{sparta.delete id:object._key(), name:type.modelName /}
	       #{sparta.tabitem id:object._key(), name:type.modelName /}
	       #{sparta.clone id:object._key(), name:type.modelName /}
	       #{sparta.revise id:object._key(), name:type.modelName /}
	       #{sparta.freeze id:object._key(), name:type.modelName /}
	       #{sparta.edit id:object._key(), name:type.modelName /}
	   #{/sparta.toolbar}
	</div>
	<div id="edit-tabs">
	    <ul>
		  <li><a href="#basic-info">&{'sparta.show.basicinfo'}</a></li>
		  <li><a href="#edit-relations">&{'sparta.show.editrelations'}</a></li>		
	    </ul>
	  <div id="basic-info" class="ui-widget">
	    <table><tbody>
	       <tr>
	         #{core.element name:"number", value:(object.identifier? object.identifier['number'] : null) /}
	         #{core.element name:"name", value:(object? object['name'] : null) /}
	       </tr><tr>
	         #{core.element name:"tab", value:(object.identifier? object.identifier['tab'] : null) /}
	         #{core.element name:"revision", value:(object? object['revision'] : null) /}	
	       </tr><tr>
	         #{core.element name:"iteration", value:(object? object['iteration'] : null) /}
	         #{core.element name:"project", value:(object.project? object.project['name'] : null) /}
	       </tr><tr>
	         #{core.element name:"description", value:(object? object['description'] : null) /}
	         #{sparta.lookupValueField name:"subtype", realm:"sparta.design.doctypes", value:(object? object['subtype'] : null) /}
	         
	       </tr><tr>
 	         #{core.element name:"cloned", value:(object? object['cloned'] : null) /}
	         #{core.element name:"frozen", value:(object.project? object['frozen'] : null) /}
	       </tr><tr>
	         #{core.element name:"clonedBy", value:(object? object['clonedBy'] : null) /}
	         #{core.element name:"revisedBy", value:(object.revisedBy? object.revisedBy : null) /}
	       </tr><tr>
	         #{core.element name:"updatedBy", value:(object? object['updatedBy'] : null) /}
	         #{core.element name:"createdBy", value:(object? object['createdBy'] : null) /}
	       </tr><tr>
	         #{core.element name:"dateCreated", value:(object? object['dateCreated'] : null) /}
	         #{core.element name:"lastUpdated", value:(object? object['lastUpdated'] : null) /}
	       </tbody></table>
	    <br/>  	    
	    #{sparta.tabs}
           #{sparta.tab link:"/designdocuments/parts?id="+object._key(), value:"sparta.parts"/}
           #{sparta.tab link:"/users/designdocuments/ecos?id="+object._key(), value:"sparta.ecos"/}
		   #{sparta.tab link:"/users/designdocuments/ecns?id="+object._key(), value:"sparta.ecns"/}		
		   #{sparta.tab link:"/users/designdocuments/files?id="+object._key(), value:"sparta.files"/}											
        #{/sparta.tabs}    
         
     </div>          
        <div id="edit-relations">
	    	
	    #{sparta.editrelation object:object, label:"Parts", name:"partdocs", geturl:"/users/parts/listparts"}
		'@{addparts(object._key())}'
		#{/sparta.editrelation}
         
		#{sparta.editrelation object:object, label:"ECOs", name:"partecos", geturl:"/users/parts/listparts"}
		'@{addecos(object._key())}'
		#{/sparta.editrelation}
		
		#{sparta.editrelation object:object, label:"ECRs", name:"partecns", geturl:"/users/parts/listparts"}
		'@{addecrs(object._key())}'
		#{/sparta.editrelation}
		
		<!-- #{sparta.editrelation object:object, label:"Documents", name:"partdocs", geturl:"/users/documents/listdocs"}
		''
		#{/sparta.editrelation} -->		 
		#{if object.project}
		#{sparta.fileupload space:object.project.wipSpace, posturl:'/dashboard/dump', uploadurl:'/files/upload'/}
		#{/if}
		#{else}
		Update the project to upload files.
		#{/else}	
	    </div>
    </div>
</div>
<script>
$(function() {
	$( "#edit-tabs" ).tabs();
});
</script>