#{set 'moreScripts'}
<script type="text/javascript" charset="utf-8" src="@{'/public/javascripts/bom.js'}"></script>
#{/set}
#{set 'moreStyles' }
<link rel="stylesheet" type="text/css" media="screen, projection" href="@{'/public/css/bom.css'}" />
#{/set}
#{set title:(object? object['displayName'] : null)/}
#{extends 'core/layout.html' /}
<div id="coreShow " class="${type.name}">
	<div class=" ui-corner-all">	
        <div class="listSort">
	       &nbsp&nbsp &{'default.show.title', type.modelName} : ${object.name}
	     </div>
	    <div class="listButtons">
	        #{sparta.toolbar}
	        #{sparta.delete id:object._key(), name:type.modelName /}
	        #{sparta.edit id:object._key(), name:type.modelName /}
	        #{/sparta.toolbar}
	    </div>
	    <div id="edit-tabs">
	        <ul>
		      <li><a href="#basic-info">&{'sparta.show.basicinfo'}</a></li>
		      <li><a href="#edit-relations">&{'sparta.show.editrelations'}</a></li>	
		      <li><a href="@{filebrowser(object._key())}">&{'sparta.show.filebrowser'}</a></li>		      	
	        </ul>
	        <div id="basic-info" class="ui-widget">
	            <table><tbody>
	              <tr>
	              #{core.element name:"name", value:(object? object['name'] : null) /}
	              
	              #{core.element name:"mappedDir", value:(object? object['mappedDir'] : null) /}
	              </tr>
	            </tbody></table>
	            <br/>
	            #{sparta.tabs}
                #{sparta.tab link:"/spaces/projects?id="+object._key(), value:"sparta.space.projects"/}       											
                #{/sparta.tabs}
            </div>
         </div>      
      </div>
</div>