#{set title:type.name /}
#{extends 'core/layout.html' /}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/apprise.min.css'}" />
<script src="@{'/public/javascripts/apprise.min.js'}"></script>
<div>
    <div class="listSort">
	&{'core.list.title', type.name}
	</div>
	<div class="listButtons">
	#{sparta.toolbar}
	#{sparta.add name:type.modelName /}
    #{/sparta.toolbar}
    </div>
    <div class="listSort"> <div id="search-form" style="float:right;">#{core.search /}</div></div>
	<div id="coreListTable">
		#{core.table fields:['displayName','contactPerson','dateCreated','lastUpdated'] /}
		#{sparta.pagination/}
	</div>
	
	#{if objects.size > 10}
	<div class="listButtonsBottom">
	#{sparta.toolbar}
	#{sparta.add name:type.modelName /}
    #{/sparta.toolbar}
    </div>
    #{/if}
	<div>
     </div>
</div>