%{
    if(_object) {
        currentObject = _object
        currentType = _('controllers.CoreController$ObjectType').forClass(_object.getClass().getName())
    } else if(_class) {
        currentObject = null;
        currentType = _('controllers.CoreController$ObjectType').forClass(_class)
    } else {
        currentObject = _caller.object
        currentType = _caller.type
    }

    // Eval fields tags
    def fieldsHandler = [:]
    if(_body) {
        _body.setProperty('fieldsHandler', fieldsHandler);
        _body.toString(); // we skeep the real result ...
    }
}%
<div class="coreField core_text">
#{core.textField name:'partversion.name', value:(currentObject ? currentObject['name'] : null) /}
<span class="coreHelp">%{out.println(messages.get('core.help.required'))}%</span>
 </div>
<div class="coreField core_text">
#{core.longtextField name:'partversion.description', value:(currentObject ? currentObject['description'] : null) /}
<span class="coreHelp">%{out.println(messages.get('core.help.required'))}%</span>
</div>
<div class="coreField core_text">
#{core:textField  name:'partversion.identifier.number', value:(currentObject ? currentObject['description'] : null) /}
<span class="coreHelp">%{out.println(messages.get('core.help.required'))}%</span>

 </div>