
 <div class="row">
  <div class="label">Number</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.number" value="${entity?.number}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.number')}</span>
</div>


 <div class="row">
  <div class="label">Tab</div>
  <div class="field">
    
    
    
    
    
    
    
    
    
    
      <input type="text" name="entity.tab" value="${entity?.tab}"/>
    
  </div>
  <span class="error">${errors.forKey('entity.tab')}</span>
</div>


 <div class="row">
  <div class="label"></div>
  <div class="field">
    
    
    
    
    
    
    
    
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
    
    
    
  </div>
  <span class="error">${errors.forKey('entity.id')}</span>
</div>


