#{extends 'main.html' /}

<h2>Documents</h2>

<table class="entity Document">
	<thead>
		<tr>
			<th><!-- actions --></th>
			
	        
				<th>Number</th>
	        
			
	        
				<th>Tab</th>
	        
			
	        
				<th>Id</th>
	        
			
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
				<a href="@{Documents.show(entity.id)}">Show</a>&nbsp;
				<a href="@{Documents.edit(entity.id)}">Edit</a>&nbsp;
				<a href="@{Documents.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
			</td>
			
        
					<td>${entity.number}</td>
        
			
        
					<td>${entity.tab}</td>
        
			
        
					<td>${entity.id}</td>
        
			
		</tr>
	#{/list}
	</tbody>
</table>

<a href="@{Documents.create}">Create</a>
