%{
    
    if(_object) {
        currentObject = _object
        currentType = _('controllers.CoreController$ObjectType').forClass(_object.getClass().getName())
    } else if(_class) {
        currentObject = null;
        currentType = _('controllers.CoreController$ObjectType').forClass(_class)
    } else {
        currentObject = _caller.object
        currentType = _caller.type
    }
        am = ''
}%

%{ def field = currentType.getField(_name) }%

<div class="coreField core_${field.type}">
    #{ifnot field}
        %{ throw new play.exceptions.TagInternalException('Field not found -> ' + fieldName) }%
    #{/ifnot}
    #{if field.type == 'text'}
        #{core.textField name:field.name, value:(currentObject ? currentObject[field.name] : null) /}
    #{/if}
    #{if field.type == 'password'}
            #{core.passwordField name:field.name, value:(currentObject ? currentObject[field.name] : null) /}
        #{/if}

        #{if field.type == 'binary'}
            #{core.fileField name:field.name, value:(currentObject ? currentObject[field.name] : null), id:currentObject?.id /}
        #{/if}

        #{if field.type == 'longtext'}
            #{core.longtextField name:field.name, value:(currentObject ? currentObject[field.name] : null) /}
        #{/if}

        #{if field.type == 'number'}
            #{core.numberField name:field.name, value:(currentObject ? currentObject[field.name] : null) /}
            %{ am = 'core.help.numeric' }%
        #{/if}

        #{if field.type == 'date'}
           
            #{core.dateField name:field.name, value:(currentObject ? currentObject[field.name] : null) /}
            %{ am = messages.get('core.help.dateformat',play.libs.I18N.getDateFormat()) }%
           
        #{/if}

        #{if field.type == 'relation'}
            #{core.relationField name:field.name, value:(currentObject ? currentObject[field.name] : null), field:field /}
        #{/if}

        #{if field.type == 'boolean'}
            #{core.checkField name:field.name, value:(currentObject ? currentObject[field.name] : null) /}
        #{/if}

        #{if field.type == 'enum'}
            #{core.enumField name:field.name, value:(currentObject ? currentObject[field.name] : null), property:field /}
        #{/if}

        #{if field.type == 'hidden'}
            #{core.hiddenField name:field.name, value:(currentObject ? currentObject[field.name] : null) /}
        #{/if}
        
        <span class="coreHelp">
        &{am}
            %{ play.data.validation.Validation.getValidators(currentType.entityClass, _name, 'object').each() { }%
                %{
                    switch (it.annotation.annotationType().name.substring(21)) {
                        case "Required":
                            out.println(messages.get('core.help.required'))
                            break;
                        case "MinSize":
                            out.println(messages.get('core.help.minlength', it.annotation.value()))
                            break;    
                        case "MaxSize":
                            out.println(messages.get('core.help.maxlength', it.annotation.value()))
                            break;
                        case "Range":
                            out.println(messages.get('core.help.range', it.annotation.min(), it.annotation.max()))
                            break;
                        case "Min":
                            out.println(messages.get('core.help.min', it.annotation.value()))
                            break;
                        case "Email":
                            out.println(messages.get('core.help.email'))
                            break;
                        case "Equals":
                            out.println(messages.get('core.help.equals', it.params.equalsTo))
                            break;
                        case "Future":
                            if(it.params.reference) {
                                out.println(messages.get('core.help.after', it.params.reference))
                            } else {
                                out.println(messages.get('core.help.future'))
                            }
                            break;
                        case "Past":
                            if(it.params.reference) {
                                out.println(messages.get('core.help.before', it.params.reference))
                            } else {
                                out.println(messages.get('core.help.past'))
                            }
                            break;
                    }
                }%
            %{ } }%
    </span>
</div>