%{
    
    if(_object) {
        currentObject = _object
        currentType = _('controllers.CoreController$ObjectType').forClass(_object.getClass().getName())
    } else if(_class) {
        currentObject = null;
        currentType = _('controllers.CoreController$ObjectType').forClass(_class)
    } else {
        currentObject = _caller.object
        currentType = _caller.type
    }
        am = ''
}%

%{ def field = currentType.getField(_name) }%

<div class="coreField core_${field.type}">
    #{ifnot field}
    
        %{ throw new play.exceptions.TagInternalException('Field not found -> ' + fieldName) }%
    #{/ifnot}
    #{field 'object.' + _name}
    <label for="object_${field.name}">
        &{_name}
    </label>
    #{/field}
    <select id="object_${field.name}" name="object.${field.name}">
          #{sparta.lookup realm:_realm, value:""/}
          </select>
</div>
