#{set title:'Welcome to sparta!' /}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/playmanual/manual.css'}" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="@{'/public/playmanual/wiki.css'}" type="text/css" media="screen" charset="utf-8">
#{/set}

<div class="wrapper">

	<div id="docSidebar">
		
		<div id="logo">
							
			<h2 id="version">Sparta  0.0.10</h2>
		</div>

        <h2>Browse</h2>
        <ul>
            <li id="gotoc"><a href="/@documentation/home">Local documentation</a></li>
            <li id="gotoc"><a href="/@api/index.html">Browse Java API</a></li>
        </ul>

        <h2>Contents</h2>
        <div id="toc"></div>

		#{if modules}
            <h2>Installed modules</h2>
            <ul>
                #{list modules, as:'module'}
                    <li>
                        <a href="modules/${module}/home">${module}</a>
                        #{if apis.contains(module)}
                            — <a href="/@api/-${module}/index.html">Browse API</a>
                        #{/if}
                    </li>
                #{/list}
            </ul>
        #{/if}

        <h2>Search</h2>
        <p>Get help with google</p>
        <div id="searchBox"><form action="http://www.google.com/cse" id="cse-search-box"><div><input type="hidden" name="cx" value="002614023023983855063:jn1mu_7bof0" /><input type="hidden" name="ie" value="UTF-8" /><input type="text" name="q" size="28" style="font-size:14px"/></div></form><script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script></div>

    </div>

	<div id="pageContent">

		<div class="wikistyle">
            <h1>Sparta PLM is an open source solution for Product Lifecycle Management.</h1>
            
            <p>
                Congratulation, you've just created a new play application. This page will help you in the few next steps.
            </p>
            <h2><a name="getting">Getting started.</a></h2>
            <p>1. Sparta is written purely in java, and the view templates use groovy.</p>
            <p>2. It is written using <a href="http://www.playframework.org">http://www.playframework.org</a>.</p>
            
            <h2><a name="ide">Environment Requirements</a></h2>
             <p>1. Play framework.</p>
             <p>2. sparta has three ids configured to run with different environments settings. test, prod, bees.</p>
             <p>3. test environment uses inmemory database. (default database available with framework.)</p>
             <p>4. the normal "run" configuration uses mysql db. The settings could be seen in conf.application.conf</p>            
            <h2><a name="db">Quick Installation.</a></h2>
            <p>1. Download play framework, install it as per the install instrructions.</p>
            <p>2. Download the code from googlecode  or github <br/> <code> https://github.com/downloads/scientia/sparta/sparta-0.1.0-pre-beta.zip<br/>
       http://code.google.com/p/oplm/downloads/</code> </p>
            <p>3. Unzip on your local drive.</p>
            <p>4. Assuming you have installed the play framework and added the bin directory to the PATH type <code>--% play test sparta</code> 
              one level above your sparta directory.(not from sparta directory)
              <br/>This will start sparta server at http://localhost:9001
              <br/>The debug port will run at 8001 </p>
            <p>5. Once you enter the http://localhost:9001 you could see the login form on the right.</p>
            <p>6. Please enter admin/secret as login credentials and start exploring the sparta.</p>
        
            <h2><a name="doc">Using mysql:</a></h2>
             <p>1. Please look at the mysql configuration in application.conf.</p>
             <p>2. Create the database with the name specified in the conf file (usually spartadb)</p>
             <p>3. The mysql configuration can be used with 
          <code>%play run sparta </code></p>
        </div>
    </div>
			
		</div>

	</div>

</div>
<script type="text/javascript" src="@{'/public/playmanual/navigation.js'}"></script>
