#{set title:(object? object['displayName'] : null)/}
#{extends 'core/layout.html' /}

<div id="coreBlank" class="${type.name} ">
	<div class="listSort">
	&{'core.blank.title', type.modelName}
	</div>
	<div class="objectForm">
	
	#{form action:@create(), enctype:'multipart/form-data'}
	<div class="ui-widget">
		#{core.form /}
		</div>
		<p class="coreButtons button">
			<input type="submit" name="_save" value="&{'core.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'core.saveAndContinue', type.modelName}" />
			<input type="submit" name="_saveAndAddAnother" value="&{'core.saveAndAddAnother', type.modelName}" />
		</p>
	#{/form}
	</div>

</div>