<!DOCTYPE html>

<html>
    <head>
        <title>&{'main.title'} - #{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/core.css'}" />
        <link rel="stylesheet" type="text/css" media="print" href="@{'/public/css/print.css'}">
        <link rel="stylesheet" type="text/css" media="screen, projection" href="@{'/public/stylesheets/_menu.css'}">
        <link rel="stylesheet" type="text/css" media="screen, projection" href="@{'/public/css/screen.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/redmond/jquery-ui.css" />
       <!-- <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/jquery-ui-1.8.9.custom.css'}" />-->
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/fg.menu.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/main.css'}" />  
		<!--[if lt IE 8]><link rel="stylesheet" type="text/css" media="screen, projection" href="/css/ie.css"><![endif]-->
        #{get 'moreStyles' /}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>  
        <script src="@{'/public/javascripts/fg.menu.js'}"></script>
        <script src="@{'/public/javascripts/core.js'}"></script>
       <!-- <script src="@{'/public/javascripts/jquery.tools.min.js'}"></script> -->
        #{get 'moreScripts' /}
    </head>
  <body>
		<div id="header">		
		<div class="global-nav" >
		    <ul class="account"><li>
		    <a tabindex="0" href="#account-option" class="fg-button" id="account-actions"><strong>${session.username}</strong></a>
            <div id="account-option" class="account-hidden" >
            <ul>            
	           <li><a href="@{Settings.index()}">Settings</a></li>
	           <li><a href="@{Secure.logout()}">Sign Out</a></li>	           
               </ul>
             </div></li></ul> 
		    
			<h1><a href="@{coreController.index()}">&{'main.title'}</a></h1>
			</div>
		</div>
		<div id="globalContainer"  class="ui-corner-all" >
		<div class="span-5 navigation-panel ui-widget ui-corner-all">
		<div class="ui-widget-header ">Navigation</div>
		#{menu.menu /}
		</div>
		 <!--   #{if request.actionMethod != 'index'}
			<div id="coreBreadcrumb" class="span-18">
				#{core.navigation/}
			</div>
		#{/if}-->

		#{if flash.success}
			<div id="success-message" class="span-17 coreFlash flashSuccess">
				${flash.success}
			</div>
		#{/if}
		#{if flash.error || error}
			<div id="flash-message" class="span-17 coreFlash flashError ">
				${error ?: flash.error}
			</div>
		#{/if}
		
		<div  class="span-18 content">
			#{doLayout /}
		</div>
		
		<div class="footer ui-corner-all" style="width:100%; margin-top:5px;">
			@Scientia!
		</div>
		</div>
		
	</body>
</html>
