#{extends 'core/layout.html' /}

<div id="coreBlank" class="${type.name} ">
	<div class="listSort">
	&{'core.blank.title', type.modelName}
	</div>
	<div class="objectForm">
	
	#{form action:@create(), enctype:'multipart/form-data'}
	<div class="ui-widget">	
		#{sparta.form }
		<table>
		<tbody>
		<tr><td>
		#{sparta.field name:'name'/}
		</td><td>
		#{sparta.lookupField name:'changeClass', realm:'sparta.eco.changeclass'/}		
		</td></tr>
		<tr><td>
		#{sparta.field name:'project'/}
		</td><td>
		#{sparta.field name:'approvalPlan'/}			
		</td></tr>
		<tr><td>
		#{sparta.field name:'description'/}
		</td><td>
		#{sparta.field name:'justification'/}
		</td></tr>
		<tr><td>
		#{sparta.field name:'affectedApps'/}
		</td><td>
		#{sparta.field name:'backgroundFacts'/}
		</td></tr>
		
		<tr><td>		
		#{sparta.field name:'analyst'/}
		</td></tr>
		
		<tr><td colspan="2">
		#{sparta.field name:'nextOrder'/}		
		#{sparta.field name:'nextPO'/}		
		#{sparta.field name:'atVendor'/}
		#{sparta.field name:'whseIssue'/}
		#{sparta.field name:'inAsm'/}	
		</td>
		</tr>			
		<tr><td colspan="2">			
		#{sparta.field name:'inTest'/}		
		#{sparta.field name:'burnIn'/}
		#{sparta.field name:'systemTest'/}		
		#{sparta.field name:'inFGS'/}		
		#{sparta.field name:'inField'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'urgency'/}		
		</td><td>
		#{sparta.field name:'retrofit'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'revReason'/} 
		</td><td>
		#{sparta.field name:'regulators'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'swfw'/}
		</td><td>
		#{sparta.field name:'tools'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'testEquip'/}
		</td><td>
		#{sparta.field name:'assmProcess'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'suppliers'/}
		</td><td>
		#{sparta.field name:'packaging'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'publications'/}
		</td><td>
		#{sparta.field name:'productSpec'/}
		</td></tr>
		
		<tr><table><tr>
		<td>
		#{sparta.field name:'plannedDate'/}
		</td><td>
		#{sparta.field name:'replanDate'/}
		</td><td>
		#{sparta.field name:'actualDate'/}
		</td>
		</tr><tr>
		<td>
		#{sparta.field name:'startDate'/}
		</td><td>
		#{sparta.field name:'mrpUpdated'/}
		</td>
		<td>#{sparta.field name:'closedDate'/}</td>		
		</tr>
		<tr><td>#{sparta.field name:'designComplete'/}</td><td></td></tr>
		</table></tr>
		
        <tr><td>
		#{sparta.field name:'solution'/}
		</td><td>
		</td></tr>
		
        <tr><td>
        #{sparta.field name:'analyst'/}
        </td><td>
        #{sparta.field name:'evaluator'/}
        </td></tr>

        <tr><td>
        #{sparta.field name:'manager'/}
        </td><td>
        #{sparta.field name:'verifier'/}
        </td></tr>
        
        <tr><td>
        #{sparta.lookupField name:'problemStatus', realm:'sparta.change.problemstatus'/}        
        </td><td>
        #{sparta.field name:'reason'/}
        </td></tr>

        <tr><td>
        #{sparta.field name:'acceptConditions'/}
        </td><td>
        #{sparta.lookupField name:'workflowstatus', realm:'sparta.eco.workflowstate'/}       
        </td></tr>

        #{sparta.field name:'customer'/}
		</tbody>
		</table>
		#{/sparta.form}
		</div>
		<p class="coreButtons button">
			<input type="submit" name="_save" value="&{'core.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'core.saveAndContinue', type.modelName}" />
			<input type="submit" name="_saveAndAddAnother" value="&{'core.saveAndAddAnother', type.modelName}" />
		</p>
	#{/form}
	</div>

</div>