#{set title:(object? object['displayName'] : null)/}
#{extends 'core/layout.html' /}
<div id="coreShow" class="${type.name}">
	<div class="listSort span-18">
	&{'sparta.part.edit.title', object.displayName}
	</div>
    <div class="ui-corner-all">
    <div class="listButtons">
    #{sparta.toolbar}
	#{sparta.show id:object._key(), name:type.modelName /}
	#{sparta.add name:type.modelName /}	
	#{sparta.delete id:object._key(), name:type.modelName /}
    #{/sparta.toolbar}
    </div>
    
    <div id="edit-tabs">
	<ul>
		<li><a href="#basic-info">&{'sparta.show.basicinfo'}</a></li>			
	</ul>
	<div id="basic-info"class="objectForm">
	
	#{form action:@save(object._key()), enctype:'multipart/form-data'}
	    <div >
		#{sparta.form }
		<table>
		<tbody>
		<tr><td>
		#{core.element name:'number' ,  value:(object? object['number'] : null)/}
		</td><td>&nbsp</td></tr>
		<tr><td>
		<div class="coreField"> 
          <span >&{'project'} :</span>
          <span class="value"><strong>&{(object? object['project'] : null)}</strong></span>
        </div> 		
		</td><td>
		<div class="coreField"> 
            <span >&{'changeClass'} :</span>
            <span class="value"><strong>#{sparta.lookupValue realm:"sparta.eco.changeclass", code:(object? object['changeClass'] : null)/}</strong></span>
        </div>				
		</td></tr>
		<tr><td> #{sparta.field name:'name'/}
				
		</td><td>
		#{sparta.field name:'approvalPlan'/}			
		</td></tr>
		<tr><td>
		#{sparta.field name:'description'/}
		</td><td>
		#{sparta.field name:'justification'/}
		</td></tr>
		<tr><td>
		#{sparta.field name:'affectedApps'/}
		</td><td>
		#{sparta.field name:'backgroundFacts'/}
		</td></tr>
		
		<tr><td>
		
		</td><td>		
		#{sparta.field name:'analyst'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'nextOrder'/}
		</td><td>
		#{sparta.field name:'nextPO'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'atVendor'/}
		</td><td>
		#{sparta.field name:'whseIssue'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'inAsm'/}
		</td><td>
		#{sparta.field name:'inTest'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'burnIn'/}
		</td><td>
		#{sparta.field name:'systemTest'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'inFGS'/}
		</td><td>
		#{sparta.field name:'inField'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'urgency'/}		
		</td><td>
		#{sparta.field name:'retrofit'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'revReason'/} 
		</td><td>
		#{sparta.field name:'regulators'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'swfw'/}
		</td><td>
		#{sparta.field name:'tools'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'testEquip'/}
		</td><td>
		#{sparta.field name:'assmProcess'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'suppliers'/}
		</td><td>
		#{sparta.field name:'packaging'/}
		</td></tr>
		
		<tr><td>
		#{sparta.field name:'publications'/}
		</td><td>
		#{sparta.field name:'productSpec'/}
		</td></tr>
		
		<tr><table><tr>
		<td>
		#{sparta.field name:'plannedDate'/}
		</td><td>
		#{sparta.field name:'replanDate'/}
		</td><td>
		#{sparta.field name:'actualDate'/}
		</td>
		</tr><tr>
		<td>
		#{sparta.field name:'startDate'/}
		</td><td>
		#{sparta.field name:'mrpUpdated'/}
		</td>
		<td>#{sparta.field name:'closedDate'/}</td>		
		</tr>
		<tr><td>#{sparta.field name:'designComplete'/}</td><td></td></tr>
		</table></tr>
		
        <tr><td>
		#{sparta.field name:'solution'/}
		</td><td>
		</td></tr>
		
        <tr><td>
        #{sparta.field name:'analyst'/}
        </td><td>
        #{sparta.field name:'evaluator'/}
        </td></tr>

        <tr><td>
        #{sparta.field name:'manager'/}
        </td><td>
        #{sparta.field name:'verifier'/}
        </td></tr>
        
        <tr><td>
        #{sparta.lookupField name:'problemStatus', realm:'sparta.change.problemstatus'/}        
        </td><td>
        #{sparta.field name:'reason'/}
        </td></tr>

        <tr><td>
        #{sparta.field name:'acceptConditions'/}
        </td><td>
        #{sparta.lookupField name:'workflowstatus', realm:'sparta.eco.workflowstate'/}       
        </td></tr>

        #{sparta.field name:'customer'/}
		</tbody>
		</table>
		#{/sparta.form}
		</div>
		<p class="coreButtons button">
			<input type="submit" name="_save" value="&{'core.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'core.saveAndContinue', type.modelName}" />
		</p>
	#{/form}
	</div>
   </div>
   </div>
</div>