#{extends 'core/layout.html' /}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/apprise.min.css'}" />
<script src="@{'/public/javascripts/apprise.min.js'}"></script>
<div>
    <div class="listSort">
	&{'core.list.title', type.name}
	</div>
	<div class="listButtons">
	#{sparta.toolbar}
	#{sparta.add name:type.modelName /}
    #{/sparta.toolbar}
    </div>
    <div class="listSort"> <div id="search-form" style="float:right;">#{core.search /}</div></div>
	#{if objects.size >0}
        <ol class="listItems">
          #{list items:objects, as:'object'}    
            #{sparta.listitem}
                <span class="list-display-name"><a href="@{show(object._key())}"><strong>${object.displayName}</strong></a>
                </span>
               
                <p>${object.name}</p><p>${object.project}</p>
      
                #{sparta.actions}
                  <a class="action-edit" href="@{edit(object._key())}">Edit</a>                  
                  <a class="action-delete" href="@{xdelete(object._key())}">Delete</a>
                #{/sparta.actions}
            #{/sparta.listitem}           	        
          #{/list}
        </ol>
	#{/if}
	
	#{if objects.size <= 0}
	<div style="height:40px; font-size: 80%;"> Nothing Found!</div>
	#{/if}
	
	#{if objects.size > 10}
	<div class="listButtonsBottom">
	#{sparta.toolbar}
	#{sparta.add name:type.modelName /}
    #{/sparta.toolbar}
    </div>
    #{/if}
	
	 #{sparta.pagination/}
	<div>
     </div>
</div>