#{set title:(object? object['displayName'] : null)/}
#{extends 'core/layout.html' /}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/token-input.css'}" />
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/token-input-sparta.css'}" />
<script src="@{'/public/javascripts/jquery.tokeninput.js'}"></script>
<script src="@{'/public/javascripts/ejohn-templating.js'}"></script>

<div id="coreShow" class="${type.name}">
	<div class="listSort span-18">
	&{'sparta.part.edit.title', object.displayName}
	</div>
    <div class="ui-corner-all">
    <div class="listButtons">
    #{sparta.toolbar}
	#{sparta.show id:object._key(), name:type.modelName /}
	#{sparta.add name:type.modelName /}	
	#{sparta.delete id:object._key(), name:type.modelName /}
    #{/sparta.toolbar}
    </div>    
    <div id="edit-tabs">
	<ul>
		<li><a href="#basic-info">&{'sparta.show.basicinfo'}</a></li>			
	</ul>	
	<div id="basic-info"class="objectForm">
	
	#{form action:@save(object._key()), enctype:'multipart/form-data'}
	    <div >
		#{sparta.form }
		#{sparta.field name:'realm'/}
		#{sparta.field name:'codeType'/}	
		#{/sparta.form}
		</div>
		<p class="coreButtons button">
			<input type="submit" name="_save" value="&{'core.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'core.saveAndContinue', type.modelName}" />
		</p>
	#{/form}
	</div>
   </div>
   </div>
</div>
<!--  change the buttons to a class -->
<script>
$(function() {
	$( "#edit-tabs" ).tabs();
});
</script>

		
