#{set title:(object? object['displayName'] : null)/}
#{extends 'core/layout.html' /}
<div id="coreShow " class="${type.name}">
	<div class=" ui-corner-all">	
    <div class="listSort">
	&nbsp&nbsp &{'default.show.title', type.modelName} : ${object.realm}
	</div>
	<div class="listButtons">
	#{sparta.toolbar}
	#{sparta.delete id:object._key(), name:type.modelName /}
	#{sparta.edit id:object._key(), name:type.modelName /}
	<div style="display:inline; float:right">
#{form @LookupValues.blank()}
<button>&{'core.add', 'Lookup Value'}</button>			
#{/form}</div>
	#{/sparta.toolbar}
	</div>
	<div class="ui-widget">
	<table><tbody>
	<tr>
	#{core.element name:"name", value:(object? object['realm'] : null) /}	
	</tr>
	</tbody></table>
	<br/>
   
   #{sparta.tabs}
             #{sparta.tab link:"/users/lookups/"+object._key()+"/values", value:"sparta.lookup.values"/}		     		    									
          #{/sparta.tabs}
   </div>
   
</div>