#{set title:type.name /}
#{extends 'core/layout.html' /}

<div>
	<h2 >&{'core.list.title', type.name}</h2>
	<div class="listButtons">
	#{sparta.toolbar}
	#{sparta.add name:type.modelName /}
    #{/sparta.toolbar}
    </div>
    <div class="listSort"></div>
	<!-- <div id="coreListSearch">
		#{core.search /}
	</div>  -->
	#{if objects.size >0}
    <ol class="listItems">
    #{list items:objects, as:'object'}
    <li class="listItem">
    <input type="checkbox" name="mboxItemGIDs" value="I1070021294_3" class="chk"/>
     <div class="list-item-content ui-widget"> 
        <span class="list-display-name"><a href="@{show(object._key())}"><strong>${object.justString}</strong></a>
        
        <ul class="list-item-actions">
   <li><a href="@{edit(object._key())}">Edit</a></li>
    <li><a href="@{delete(object._key())}">Delete</a></li></ul>
     </div>
     
     </li>         	         
     #{/list}
    </ol>
	#{/if}
	#{if objects.size <= 0}
	<div style="height:40px; font-size: 80%;"> Nothing Found!</div>
	#{/if}
	#{if objects.size > 10}
	<div class="listButtonsBottom">
	#{sparta.toolbar}
	#{sparta.add name:type.modelName /}
    #{/sparta.toolbar}
    </div>
    #{/if}
	  #{sparta.pagination/}
	<div>
     </div>
</div>