<!DOCTYPE html>

<html>
    <head>
        <title>&{'main.title'} - #{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/core.css'}" />
        <link rel="stylesheet" type="text/css" media="print" href="@{'/public/css/print.css'}">
        <link rel="stylesheet" type="text/css" media="screen, projection" href="@{'/public/stylesheets/_menu.css'}">        
        <!-- <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/app.css"> -->
        <link rel="stylesheet" type="text/css" media="screen, projection" href="@{'/public/css/screen.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/themes/redmond/jquery-ui-1.8.9.custom.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/fg.menu.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/main.css'}" />  
		<!--[if lt IE 8]><link rel="stylesheet" type="text/css" media="screen, projection" href="/css/ie.css"><![endif]-->
        #{get 'moreStyles' /}
        <script src="@{'/public/javascripts/jquery-1.4.4.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.9.custom.min.js'}"></script>
        
        <script src="@{'/public/javascripts/fg.menu.js'}"></script>
        <script src="@{'/public/javascripts/core.js'}"></script>
       <!-- <script src="@{'/public/javascripts/jquery.tools.min.js'}"></script> -->
        #{get 'moreScripts' /}
    </head>
  <body>
		<div id="header" style="height:60px; ">		
		    <div class="global-nav">			    
			    <div class="main-login">		    
			    #{form @Secure.authenticate()}			    
			    <table>
                   <tbody>
                      <tr  class="login-tr">
                         <td><label for="username">&{'secure.username'}</label></td>
                         <td><label for="password">&{'secure.password'}</label></td>
                         </tr>
                         <tr class="login-tr">
                         <td><input type="text" name="username" id="username" value="${flash.username}" size="20" /></td>
                         <td><input type="password" name="password" id="password" value="" size="20"/></td>
                         <td><input type="submit" id="signin" value="&{'secure.signin'}" /></td>
                         </tr>
                         <tr class="login-tr">
                         <td><label for="remember">&{'secure.remember'}</label></td>
                         <td><input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} /></td>                                                  
                         </tr>                                    
                   </tbody>
                </table>
	            #{/form}
	            </div>
	            <h1><a href="@{coreController.index()}">&{'main.title'}</a></h1>        		    
		    </div>
		</div>
		<div id="main-container">
		
		#{if flash.success}
			<div id="success-message" class="span-18 coreFlash flashSuccess">
				${flash.success}
			</div>
		#{/if}
		#{if flash.error || error}
			<div id="flash-message" class="span-18 coreFlash flashError ">
				${error ?: flash.error}
			</div>
		#{/if}
		
		<div  class="span-18 content">
			#{doLayout /}
		</div>
		</div>
		<div class="footer span-21">
			@Scientia!
		</div>
	</body>
</html>

<script>
$(function() {
	$( "#signin" ).button();
});
</script>