#{extends 'core/layout.html' /}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/css/apprise.min.css'}" />
<script src="@{'/public/javascripts/apprise.min.js'}"></script>
<div id="coreShow">
	<div class="listSort span-18">
	&{'sparta.users.settings'}
	</div>
    <div class="ui-corner-all">
    <div class="listButtons">
   
    </div>    
    <div id="edit-tabs">
	<ul>
		<li><a href="#account-info">Account</a></li>
		<li><a href="#password">Password</a></li>
		<li><a href="#context">Context</a></li>
		<!-- <li><a href="#preferences">Preferences</a></li>
		<li><a href="#profiles">Profile</a></li>  -->		
	</ul>
	<div id="account-info">
	   <div id="basic-info"class="objectForm">
	   <form id="accountForm" action="@{accountupdate}" method="POST" accept-charset="utf-8">	
	   <div class="coreField core_username">
           <label for="object_username">&{'username'}</label>
           <input type="hidden" name="u.username" value="${object.username}" />
           <input type="hidden" name="u.id" value="${object._key()}" />
           <input id="object_username" class=""  name="" value="${object.username}" size="50" disabled/>
        </div>	
        <div class="coreField core_email">
           <label for="object_email">&{'email'}</label>
           <input id="object_email" class=""  name="u.email" value="${object.email}" size="50" />
        </div>	
        <div class="coreField core_firstname">
           <label for="object_firstname">&{'firstName'}</label>
           <input id="object_firstname" class=""  name="u.firstName" value="${object.firstName}" size="50" />
        </div>
        <div class="coreField core_lastName">
           <label for="object_lastName">&{'lastName'}</label>
           <input id="object_lastName" class="" name="u.lastName" value="${object.lastName}" size="50" />
        </div>	
		<p class="coreButtons button">
			<input id="update-account" type="submit" name="_save" value="Update" />		
		</p>
		</form>	
	  </div>
	</div>
	
	<div id="password">
	<div id="message_pwd"></div> 
	<div id="basic-info"class="objectForm">
	<form id="passwordForm" action="@{changepwd}" method="POST" accept-charset="utf-8" enctype="multipart/form-data" >	
	   <div class="coreField core_password">
           <label for="object_oldpwd">&{'sparta.settings.oldpwd'}</label>
           <input id="object_oldpwd" class="" type="password" name="object.oldpwd" value="" size="50" disabled/>
        </div>	
        <div class="coreField core_password">
           <label for="object_newpwd">&{'sparta.settings.newpwd'}</label>
           <input id="object_newpwd" class="" type="password" name="object.newpwd" value="" size="50" disabled />
        </div>	
        <div class="coreField core_password">
           <label for="object_verifypwd">&{'sparta.settings.verifypwd'}</label>
           <input id="object_verifypwd" class="" type="password" name="object.verifypwd" value="" size="50" disabled/>
        </div>	
		<p class="coreButtons button">
			<input id="change-password" type="submit" name="_save" value="Change Context" />		
		</p>
		</form>	
	</div>
	</div>
	<div id="context"class="objectForm">
	<div id="basic-info"class="objectForm">
	<form id="changeContextForm" action="@{changecontext}" method="POST" accept-charset="utf-8" enctype="multipart/form-data" >
	   <div class="coreField core_context">        
          <label for="object_viewContext">&{'sparta.settings.viewcontext'}</label>
          <select id="object_viewContext" name="context.id">
              <option value="">(None)</option>
              <option value="1" selected="true">Default</option>
          </select>
        </div>		
		<p class="coreButtons button">
			<input id="change-context" type="submit" name="_save" value="Change Context" />		
		</p>
		</form>	
	</div>
	
	<div id="preferences"class="objectForm">
	
	</div>
	<div id="profiles"class="objectForm">
	
	</div>
   </div>
   </div>
</div>
<!--  change the buttons to a class -->
<script>
$(function() {
	$( "#edit-tabs" ).tabs();

	    $("#accountForm").submit(function(){
	        $.post("/settings/accountupdate", $("#accountForm").serialize(),
	        function(data){
		        if(data.error){
                     alert("returned error");
			        }
	            if(data.error){

	                    $("#message_account").append("<div class='errorMessage'> " + data.error+ "</div>").show(200);
	            } else {
	                $("#message_account").html("<div class='successMessage'>" + data.email + " is a valid e-mail address. Thank you, " + data.name + ".</div>");
	                }
	        }, "json");

	        return false;

	    });


	    $("#passwordForm").submit(function(){
	        $.post("/settings/pwdupdate", $("#passwordForm").serialize(),
	        function(data){
		        alert(data);
		        if(data.error){
                   alert(data.error);
		        }
	            if(data.email_check == 'invalid'){

	                    $("#message_pwd").html("<div class='errorMessage'>Sorry " + data.name + ", " + data.email + " is NOT a valid e-mail address. Try again.</div>");
	            } else {
	                $("#message_pwd").html("<div class='successMessage'>" + data.email + " is a valid e-mail address. Thank you, " + data.name + ".</div>");
	                }
	        }, "json");

	        return false;

	    });
});
</script>

		
